header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:90px;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #EEEEEE;
    font-family: 'Gruppo', sans-serif;
    /* position: fixed; */
}
.btn{
    border: none;
    color: black;
    font-size: 17px;
    margin-right: 7px;
    background-color: transparent;
    font-family: 'Gruppo', sans-serif;
}
.logo_img{
    mix-blend-mode: multiply;
    width: 20%;
    height: 100%;
    object-fit: cover;
}
#log_btn{
    background-color: #525556;
    color: #fff;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
#log_btn:hover{
    background-color: rgb(117, 141, 186);
}